<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>androCode-login</title>

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
<body>

	<div class="container">
		<h2 class="form-signin-heading">Login</h2>

		<form class="form-signin" th:action="@{/login/checkLogin}" th:object="${credenciales}" method="post">
						
			<label for="inputEmail" class="sr-only" Usuariolabel></label> 
			<input type="text" id="inputUsername" class="form-control" placeholder="Usuario" th:field="*{usuario}"/> 
			
			<label for="inputPassword" class="sr-only" Contraseñalabel></label> 
			<input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" th:field="*{password}"/>
			
			<div th:if="${error != null}" class="alert alert-danger" role="alert">Credenciales incorrectas</div>
			
			<button  class="btn btn-lg btn-primary btn-block col-12" type="submit">
				<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
				Entrar
			</button>
		</form>

	</div>

</body>
</htm>